// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$background: #B7B7B7;
$primary: rgb(214, 59, 8);
$secondary: #EFC88B;
$accent: #474350;

$xl: 1200px;
$lg: 980px;
$md: 768px;
$sm: 600px;
$xs: 450px;